
    <% if logged_in? %>
        <div class='jumbotron card text-center bg-dark text-warning'>
            <h1 class='text-uppercase font-weight-bold'>Welcome to your favorite private club <%= current_user.first_name %></h1>
            <hr class="star-light">
            <p class="text-faded mb-5">Can you feel it? It's PARTY TIME !</p>
            <p class='lead'>Join the <%= link_to 'PARTY', privateclub_path, class: 'btn btn-outline-warning btn-xl'%></p>
        </div>
    <% else %>
        <div class='jumbotron text-center bg-warning text-secondary'>
            <h1>Sorry, this is a private club!</h1>
            <p>You must <%= link_to 'log in', login_path %> to join the party</p>
            <p>If you are a new joiner, please <%= link_to 'create an account', new_user_path %> first</p>
        </div>
    <% end%>
